:root {
    --primary: #00c4db;
    --dark: #0f172a;
    --dark-light: #1e293b;
    --text: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark);
    color: var(--text);
}

/* UTIL */
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.img-index {
            width: 175px;
            margin-bottom: 16px;
            filter: invert(100%);
}

.image-header {
			/* height: 60px; */
            filter: invert(100%);
}

.section {
    padding: 64px 0;
}

.section.dark {
    background-color: var(--dark-light);
}

h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

h3 {
    font-size: 28px;
    margin-bottom: 24px;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #00c4db;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}

.links a {
	margin-bottom: 10px;
    /*display: block;
    text-decoration: none;
    background-color: #00c4db;
    color: #111827;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;*/
}

/*.links a:hover {
    background-color: #ffffff;
    transform: scale(1.02);
}*/

/* HEADER */
.header {
    background: var(--dark);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;
}

.logo {
    /* font-size: 18px; */
    font-weight: 700;
    color: var(--primary);
}

.nav {
    display: none;
    flex-direction: column;
    background: var(--dark-light);
    position: absolute;
    top: 72px;
    right: 20px;
    border-radius: 8px;
}

.nav a {
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text);
}

.nav a:hover {
    background-color: rgba(255,255,255,0.05);
	color: #00c4db;
}

.menu-toggle {
    background: none;
    border: none;
    color: var(--text);
    font-size: 24px;
}

/* HERO */
.hero {
    padding: 96px 0;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

.hero p {
    color: #cbd5f5;
    margin-bottom: 32px;
}

/* BUTTONS */
.btn-primary {
    /*display: inline-block;
    background: var(--primary);
    color: var(--dark);
    //padding: 14px 28px;
	padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;*/
	display: inline-block;
    text-decoration: none;
    color: #111827;
    padding: 12px;
    border-radius: 10px;
	font-weight: bold;
	background-color: #00c4db;
    text-align: center;
	max-width: fit-content;
    /*transition:
        transform 0.2s ease,
        background-color 0.2s ease;*/
}
.btn-primary:hover {
    background-color: #ffffff;
	/* transform: scale(1.02); */
	color: #111827;
}

.btn-outline {
    display: inline-block;
	text-decoration: none;
    color: var(--primary);
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
	border: 2px solid var(--primary);
	/* transition:
        transform 0.2s ease,
        background-color 0.2s ease; */
}
.btn-outline:hover {
    background-color: #ffffff;
	/* transform: scale(1.02); */
	color: #111827;
	border: 2px solid #ffffff;
}

/* .btn {
    display: block;
    text-decoration: none;
    background-color: #00c4db;
    color: #111827;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
	max-width: -webkit-fill-available;
/*     transition:
        transform 0.2s ease,
        background-color 0.2s ease; */
/*} */

/* .btn:hover {
    background-color: #ffffff;
	/* transform: scale(1.02); */
	color: #111827;
/*} */


/* CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cards-menu-inf {
	/*text-align: center;
    grid-template-columns: 1fr;
    gap: 20px;*/
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    gap: 12px;
}

.card {
    background: #020617;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.05);
}

.card h4 {
    color: var(--primary);
    margin-bottom: 12px;
}

/* DIFERENCIAIS */
.diferenciais {
    list-style: none;
}

.diferenciais li {
    margin-bottom: 12px;
    padding-left: 16px;
    position: relative;
}

.diferenciais li::before {
    content: "•";
    color: var(--primary);
    position: absolute;
    left: 0;
}

/* CTA */
.cta {
    background: linear-gradient(135deg, #020617, var(--dark-light));
    padding: 64px 0;
    text-align: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 24px;
    font-size: 14px;
    color: #94a3b8;
}

/*@media (max-width: 600px) {
    .cards-menu-inf {
        flex-direction: column;
        align-items: stretch;
    }

    .cards-menu-inf a {
        text-align: center;
    }
}*/

/* DESKTOP */
@media (min-width: 768px) {
    .nav {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
    }

    .menu-toggle {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero h2 {
        font-size: 42px;
    }
}
